build --cxxopt='-std=c++17'

build:w64 --crosstool_top=//toolchain:mingw_suite

build:w64 --cpu=k8

build:w64 --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

build:w64 --define windows_build=true